<link rel="stylesheet" href="../public/css/signup.css">

<form action="/signup" method="POST">
    <div class="logo">
        <img src="../public/img/accrypto.jpg" alt="Logo">
    </div>
    <h1>Sign Up<h1>
    <p>Join us and start your jiurney today!<p>
    <div class="mb-3">
        <input type="text" placeholder="Username" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <input type="password" placeholder="Password" class="form-control" id="password" name="password" required>
    </div>
 
    <p>Sudah punya akun? <a href="/login">Login di sini</a>.</p>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
