/* Mengatur gaya umum untuk seluruh halaman */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font modern */
    background: linear-gradient(to right, #6a11cb, #7500dc); 
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengisi seluruh layar */
    text-align: center; /* Membuat teks berada di tengah */
}

.container {
      background: white; /* Latar belakang putih untuk kontainer */
    border-radius: 15px; /* Sudut yang halus */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan halus */
    padding: 30px;
    width: 80%;
    max-width: 600px; /* Membatasi lebar */
    margin-top: 40px;
}

h1 {
    font-size: 36px;
    color: #333333; /* Warna teks judul */
    margin-bottom: 20px;
    font-weight: 700; /* Berat font lebih tebal untuk judul */
}

p {
    font-size: 18px;
    color: #555555; /* Warna teks deskripsi lebih lembut */
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #5a00cf; /* Biru cerah untuk tombol */
    text-decoration: none;
    border-radius: 25px; /* Tombol dengan sudut melengkung */
    transition: all 0.3s ease-in-out; /* Transisi untuk efek hover */
}

.btn:hover {
    background-color:#6b07ad; /* Tombol berubah warna saat hover */
    transform: scale(1.05); /* Efek tombol sedikit membesar */
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Lebar kontainer lebih besar pada perangkat kecil */
    }

    h1 {
        font-size: 30px; /* Mengurangi ukuran judul pada perangkat kecil */
    }

    p {
        font-size: 16px; /* Mengurangi ukuran teks deskripsi */
    }

    .btn {
        font-size: 16px; /* Ukuran font tombol lebih kecil pada perangkat kecil */
    }
}