/* signup.css */

.navbar{
    display: none;
}
body {
    background: linear-gradient(to right, #6a11cb, #7700ff); /* Sama seperti login */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.logo img{
    width: 50px;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: larger;
    margin: 10px0;
    color: #000;
    text-align: start;
    font-weight: bold;
}
form p{
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: start;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.form-control {
    background: rgba(255, 255, 255, 0.2); /* Warna input sama seperti login */
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 15px;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    box-shadow: none;
}

.btn-primary {
    background-color: #8500be;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #6a11cb;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #f0f0f0; /* Efek hover serupa */
}
